.wrapper {
    padding: 0 25rem;
    border: 1px solid #1d79e2;
}

.component-item {
    min-height: 2rem;
}

.component-item > * {
    margin: auto 0;
}

.icon-group {
    display: flex;
    flex-direction: row;
}

.edit-component-icon-container {
    display: flex;
    border-radius: 25px;
    width: 2rem;
    height: 2rem;
}

.edit-component-icon-container > * {
    margin: auto;
}

.edit-component-icon-container:hover {
    background-color: #1d79e2;
}